<div>
  <div>
    <h1>
      List of all teams
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new team
    </h2>

    <form action="/insert_team" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create team
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_teams.each do |a_team| %>
      <tr>
        <td>
          <%= a_team.id %>
        </td>

        <td>
          <%= a_team.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_team.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_team.updated_at) %> ago
        </td>

        <td>
          <a href="/teams/<%= a_team.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
